* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.items {
    text-align: center;
    width: 100%;
}

.items label {
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
}

label span {
    font-weight: 800;
    font-size: 20px;
}