.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading div{
    background-color: rgba(39, 39, 39, 0.274);
    border: 1px solid grey;
    width: 30vw;
}

.heading h3{
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: rgb(77 ,77,77);
    margin: 1vmax;
}