.hotmenu{
    display: flex;
    justify-content: center;
}

.hotmenulink{
    text-decoration: none;
    color: rgb(94, 94, 94);
    margin: 1vmax;
    padding: 0.5rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hotmenulink:hover{
    color: orangered;
    border-bottom: 1px solid orangered;
}