* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    letter-spacing: 0 !important;
}

.bdd {
    background-color: black;
}

.main {
    width: 100%;
    height: 800px;
    border-bottom: 8px solid #222;
}

.main .imgdata {
    width: 100%;
    height: 100%;
}

.imgdata img {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 60%, rgba(0, 0, 0, .8));
    transform: none;
}

.account {
    width: 100%;
    position: absolute;
    top: 40%;
    color: white;
}

.account-data {
    text-align: center;
}

.logobox {
    position: absolute;
    top: 1%;
    width: 100%;
}

.logobox-data {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    z-index: 2;

}

#nflogo {
    fill: #e50914;
    line-height: normal;
    margin-left: 2%;
}

.logobox-data svg {
    vertical-align: middle;
    width: 50%;
}

.one {
    margin: 2% 0%;
}

#lang {
    padding: 8% 15%;
    margin-left: -50%;
    border-radius: 5px;
    position: relative;
    background-color: black;
    color: white;
}

.sing {
    padding: 10% 8%;
    background-color: red;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.bnt1 {
    width: 22%;
    padding: 2%;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: red;
    color: white;
}

.dataitems {
    border-bottom: 8px solid #222;
}

.data {
    display: flex;
    flex-direction: row;
}

.text-set {
    width: 100%
}

.text-set-items {
    padding: 10% 9%;
    width: 90%;
    height: 70%;
    margin: auto;
    color: white;
    margin-left: 10%;
}
.text-set-items h1{
    font-size: 3.5rem;
}
.text-set-items1 h1{
    font-size: 3.5rem;
}
.text-set-items h2{
    font-size: 2.5rem;
}
.text-set-items1 h2{
    font-size: 2.5rem;
}

.text-set-items1 {
    padding: 10% 9%;
    width: 90%;
    height: 70%;
    margin: auto;
    color: white;
    margin-right: 10%;
}

.img-set {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.img-set1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;

}

.img1 .aaaa {
    position: relative;
    overflow: hidden;
    height: 90%;
}

.img1 .aaaa img {
    max-width: 100%;
    position: relative;
    z-index: 2;
    height: 100%;
    margin-left: 4%;
}

.vide {
    position: absolute;
    top: 19%;
    height: 58%;
    left: 17%;
    width: 74%;
}

video {
    width: 100%;
    height: 100%;
}

.data2 {
    display: flex;
    flex-direction: row-reverse;
}

.img2 .aaaa {
    position: relative;
    overflow: hidden;
    height: 90%;
}

.img2 .aaaa img {
    max-width: 100%;
    position: relative;
    height: 100%;
    margin-left: 4%;

}

.aaaa .img2-set {
    position: absolute;
    top: 73%;
    left: 29%;

}

.img2-set-items {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    /* margin-left: 25%; */
}

.img2-set-items .img2-1 {
    border-radius: 5px;
    padding: 5px 10px;
}

.img2-set-items .matt {
    padding: 6px 8px;
    line-height: 0;
}

.matt h3 {
    font-size: 1.25rem;
    color: white;
}

.matt p {
    color: blue;
}

.img3 .aaaa {

    position: relative;
    overflow: hidden;
}

.img3 .aaaa img {
    max-width: 100%;
    position: relative;
    z-index: 2;

}

.vide1 {
    position: absolute;
    top: 8%;
    width: 83%;
    left: 17%;
}

.vid-1 {
    width: 79%;
}

.img4 .aaaa {

    position: relative;
    overflow: hidden;
    height: 90%;
}

.img4 .aaaa img {
    max-width: 100%;
    position: relative;
    z-index: 2;
    height: 100%;
    margin-left: 4%;

}

.accor {
    width: 60%;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 7px;
}

.accordion-header {
    background-color: #222;
}

.accordion-header button {
    background-color: #222;
    color: white;
    fill: blue;
}

.accordion-body {
    background-color: #222;
    color: white;
    margin-top: 5px;
}

.word {
    text-align: center;
    margin: 4% 0%;
    color: white;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

#form-data {
    width: 55%;
}

.email {
    width: 70%;
    padding: 2%;
    border-radius: 4px;
    font-size: 1.5rem;
}

.bnt {
    width: 22%;
    padding: 2%;
    border-radius: 4px;
    font-size: 1.5rem;
    background-color: red;
    color: white;
    position: relative;
}

#form-data .arrow {
    position: absolute;
    margin-left: -2%;
    margin-top: 2%;
    color: white;

}

#form-data .arrow1 {
    position: absolute;
    margin-left: -2%;
    margin-top: 2%;
    color: white;
}

.foot-data {
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
    margin: 30px auto;
}

.footer-links {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 24%;
}

.footer-links a {
    text-decoration: none;
    color: #737373;
}

.footer-links a:hover {
    border-bottom: 1px solid #737373;
    color: #737373;
}

.foot-lang {
    margin-left: 19%;
}

#lang1 {
    padding: 1.5% 3%;
    background-color: black;
    color: white;
    border-radius: 5px;
    position: relative;
}

.foot-lang .icon {
    position: absolute;
    color: white;
    margin-left: -9%;
    margin-top: 1.5%;
}

.foot-lang p {
    margin-top: 1%;
    color: #737373;
}

.numb {
    margin-left: 18.5%;
    margin-top: 3%;
    color: #737373;
}

.numb a {
    color: #737373;
    text-decoration: none;
}

.numb a:hover {
    color: #737373;
    border-bottom: 1px solid #737373;
}

@media screen and (min-width:200px) and (max-width:850px) {

    .data,
    .data2 {
        flex-direction: column;
    }

    .matt h3,
    .matt p {
        font-size: 15px;
        padding: 0;
    }

    .img2-set-items .matt {
        padding: 0;
    }

    .img2-set-items {
       height: 60px;
        padding: 0;
        justify-content: space-evenly;
    }

    .vide {
        margin-left: -4%;
    }

    .accor {
        width: 90%;
        margin: 0 auto;
    }

    .form {
        flex-direction: column;
    }

    #form-data {
        width: 90%;
        margin: 0 auto;
    }

    .email {
        width: 100%;
    }

    .bnt {
        width: 50%;
        margin: 2% 0% 0% 25%;
    }

    .foot-lang,
    .numb {
        margin-left: 3%;
    }

    .bnt1 {
        margin: 2% 0% 0% 0%;
        width: 50%;
    }

    .text-set-items1 {
        margin-left: 9%;
    }

    .icon {
        left: 13%;
        width: 12px;
        height: 24px
    }

    #lang1 {
        padding: 1.5% 5%;
    }

    .logobox-data svg {
        width: 100%;
    }

    #nflogo {
        width: 30%;
    }

    .text-set-items {
        padding: 5% 0%;
    }

    .text-set-items1 {
        padding: 5% 0%;
    }

    .aaaa .img2-set {
        left: 13%;
        width: 72%;
        top: 70%;
    }

    .matt {
        font-size: 0.9rem;
    }

    #form-data .arrow {
        margin-left: -7%;
        margin-top: 6%;
    }

    #form-data .arrow1 {
        margin-left: -7%;
        margin-top: 6%;
    }
    .text-set-items h1 {
        font-size: 2.5rem;
    }
    .text-set-items1 h1{
        font-size: 2.5rem;
    }
    .text-set-items h2{
        font-size: 2rem;
    }
    .text-set-items1 h2{
        font-size: 2rem;
    }

}

@media screen and (min-width:850px) and (max-width:1250px) {

    .foot-lang,
    .numb {
        margin-left: 3%;
    }

    .icon {
        left: 13%;
    }

    .bnt,
    .bnt1 {
        font-size: 1rem;
    }

    /* .aaaa .img2-set {
        left: 1%;
        top: 70%;
    } */
}

@media screen and (min-width:0px) and (max-width:250px) {
    .bdd {
        overflow: hidden;
    }
}