*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    background:transparent linear-gradient(180deg, #9D0E0E00 0%, #4F0707 100%) 0% 0% no-repeat padding-box;
    mix-blend-mode: multiply;
    opacity: 1;
}
.back img{
    width: 100%;
}